<div class="menu btn-group-vertical">
    <a href="#"><button class="btn btn-default" type="button">Лента</button></a>
    <a href="{{ path('user_list') }}"><button class="btn btn-default" type="button">Пользователи</button></a>
    <a href="#"><button class="btn btn-success" type="button"><span class="glyphicon glyphicon-plus"></span> Написать</button></a>
</div>