{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="security">
            <legend>Регистрация</legend>
            {% include 'MainBundle:Content:Flashbag/error.html.twig' %}

            {% form_theme form 'MainBundle:Theme:horizontal.html.twig' %}
            {{ form(form) }}
        </div>
    </div>
{% endblock %}