{% extends '::base.html.twig' %}
{% block body %}
    <div class="row board">
        <div class="col-xs-3">
            {% if app.user %}{% include "MainBundle:Content:menu.html.twig" %}{% endif %}
        </div>
        <div class="col-xs-9 block-content">{% block content %}{% endblock %}</div>
{% endblock %}