{% extends '::base.html.twig' %}
{% block body %}
    <div class="row board">
        <div class="col-xs-2">
            {% if app.user %}{% include "MainBundle:Content:menu.html.twig" %}{% endif %}
        </div>
        <div class="col-xs-10">{% block content %}{% endblock %}</div>
{% endblock %}